

.buttonFavorites{
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 13px;
}

.overlay{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 96, 96);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 2;
}

.esposa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    z-index: 3;
}

.esposa img{
    width: 50%;
    height: 60%;
}

.credentials{
    color: gray;
    border: 1px solid gray;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}
.credentials p{
    margin: 0px;

}

.card{
    margin-top: 5rem;
    width: 15rem;
}

.movieD{
    background-color: rgb(22, 14, 14);
    color: orange;
}

.movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem;
}

.movie img{
    width: 80%;
}

.container form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.container h2{
    padding-top: 5rem;
}

.container input{
    margin: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    color: orangered;
}

.container button{
    border-radius: 1rem;
    width: 80%;
    margin-top: .50rem;
    
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;    
    background-color: rgb(35, 35, 35);
    width: 110%;
    margin-top: 3rem;
    padding: 0px;
    position: relative;
    bottom: 0px;
    left: -1rem;
}

.footer ul{
    list-style: none;
    padding-top: 1rem;
}
.footer a{
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
}

